{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>


<h1> My Todo List </h1>
<td><a href="{% url 'task-create' %}">Add</a></td>

<table>
    <tr>
        <th>Items</th>
    </tr>
    {% for tasks in task %}
    <tr>
        <td>{{ tasks.id }} - {{ tasks.title }}</td>
        <td><a href="{% url 'task-detail' tasks.id %}">View</a></td>
        <td><a href="{% url 'task-update' tasks.id %}">Update</a></td>
        <td><a href="{% url 'task-delete' tasks.id %}">Delete</a></td>
    
    </tr>
    {% empty %}
    <h3> No Items in List </h3>
    <a href="">Add New Item</a>
    {% endfor %}
</table>
