{% extends 'todo/main.html' %}

{% block content %}

<div class="header-bar">
    <div>
        <h1> Hello {{ request.user|title }}</h1>
        <h3> You have <i>{{ count }} incomplete task{{ count|pluralize:'s' }}.</i> </h3>

        {% if request.user.is_authenticated %}
        {% comment %} <p>{{ request.user }}</p> {% endcomment %}
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>


{% comment %} <h1> My Todo List </h1>
<form action="" method="get">
    <input type="text" name="search-area">
    <input type="submit" value="Search Task">
</form> {% endcomment %}

{% comment %} <td><a href="{% url 'task-create' %}">Add</a></td> {% endcomment %}

<div class="task-items-wrapper">
    {% for tasks in task %}
    <div class="task-wrapper">
        {% if tasks.complete %}
        <div class="task-title">
            <div class="task-complete-icon">
                <i><s><a href="{% url 'task-update' tasks.id%}"> {{tasks}}</a></s></i>
            </div>
            <a class ="delete-link" href="{% url 'task-delete' tasks.id%}">&#215;</a>
        </div>
        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon">
                <a href="{% url 'task-update' tasks.id%}"> {{tasks}}</a>
            </div>
            <a class ="delete-link" href="{% url 'task-delete' tasks.id%}">&#215;</a>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <h3> No Items in List </h3>
    <a href="{% url 'task-create' %}">Add New Item</a>
    {% endfor %}

</div>

{% comment %} <table>
    <tr>
        <th>Items</th>
    </tr>
    {% for tasks in task %}
    <tr>
        <td>{{ tasks.id }} - {{ tasks.title }}</td>
        <td><a href="{% url 'task-detail' tasks.id %}">View</a></td>
        <td><a href="{% url 'task-update' tasks.id %}">Update</a></td>
        <td><a href="{% url 'task-delete' tasks.id %}">Delete</a></td>
    
    </tr>
    {% empty %}
    <h3> No Items in List </h3>
    <a href="{% url 'task-create' %}">Add New Item</a>
    {% endfor %}
</table> {% endcomment %}
{% endblock content %}